.footer {
    background-color: var(--beige-55);
    margin-top: 60px;

    .logo-container {
        padding-bottom: 20px;
        border-bottom: 1px solid var(--black-15);

        .logo {
            width: 100%;
            height: auto;
            max-width: 150px;
        }
    }

    .org-logo {
        width: 60px;
        aspect-ratio: 1;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .person {
        hr {
            width: 80px;
            border: 1.5px solid var(--beige-10);
            border-radius: 20px;
            margin: 0;
        }

        p {
            font-weight: 600;
        }
    }

    .project-link {
        .mat-mdc-button-base {
            --mat-button-text-label-text-color: var(--text-color-secondary);
            font-size: 14px;
            justify-content: start;
            text-align: left;
            border-color: color-mix(in oklab, var(--text-color-secondary) 30%, transparent);
            --mat-button-text-container-height: 50px;

            &:hover {
                --mat-button-text-label-text-color: var(--text-color-accent);
                border-color: color-mix(in oklab, var(--text-color-accent) 60%, transparent);
            }
        }

    }

}
