<div class="window">
    <mat-sidenav-container class="admin-layout">

        <mat-sidenav
            #sidenav
            class="sidebar"
            [mode]="isMobile() ? 'over' : 'side'"
            [opened]="!isMobile()"
        >
            <app-sidebar></app-sidebar>
        </mat-sidenav>

        <mat-sidenav-content>
            <div class="content">
                <div class="flex column gy-2">
                    <app-topbar (menuClick)="sidenav.toggle()"></app-topbar>
                    <app-breadcrumb></app-breadcrumb>
                </div>
                <router-outlet></router-outlet>

                @if (showFooter()) {
                    <app-footer></app-footer>
                }
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
    <!--@if (isMobile()) {

    } @else {
        <div class="window-inner">
            <div class="window-inner-inner">
                <div class="sidebar-wrapper py-4">
                    <app-sidebar></app-sidebar>
                </div>
                <div class="content">
                    <app-topbar></app-topbar>
                    <router-outlet></router-outlet>
                </div>
            </div>

        </div>
    }-->

</div>
