<div class="inner">
    <div class="px-2 flex column gap-3">
        <div class="flex column gap-0 justify-start align-start">
            <h1 class="m-0">Pottery Data</h1>
            <button mat-button routerLink="/admin/data" class="btn-sm btn-link bold">
                <mat-icon>arrow_back</mat-icon>
                Back to All Pottery Data
            </button>
        </div>
    </div>

    @if (potteryItem) {
        <div class="flex column gy-6">
            <div class="flex row wrap justify-between align-stretch gy-4">
                <div class="w-100 px-2 flex row justify-between align-start gy-2">
                    <div class="flex column gap-2">
                        <h3 class="m-0">Pottery Item #{{ potteryItem.id }}</h3>
                        <div class="meta flex row wrap gap-3">
                            <div>
                                Created: <strong>{{ potteryItem.created_at | date:'medium' }}</strong>
                            </div>
                            <div>
                                Source <strong>{{ potteryItem.data_source.description }}</strong>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="w-100 flex align-stretch">
                    <div class="card p-4 flex column justify-center data-card">
                        <div class="badge primary card-title">
                            Data
                        </div>
                        <div class="flex row wrap justify-between align-stretch gy-3">
                            <div class="w-7 flex column gap-5">
                                <div>
                                    <h5>Object ID</h5>
                                    <p>@if (potteryItem.object_id) {
                                        {{ potteryItem.object_id }}
                                    } @else {
                                        -
                                    }
                                    </p>
                                </div>
                                <div>
                                    <h5>Description</h5>
                                    <p>@if (potteryItem.description) {
                                        {{ potteryItem.description }}
                                    } @else {
                                        -
                                    }
                                    </p>
                                </div>

                            </div>
                            <div class="w-5">
                                <h5>Image</h5>
                                @if (potteryItem.image_path) {
                                    <div class="image-container">
                                        @if (fullUrl || thumbUrl) {
                                            <img
                                                [src]="fullUrl ?? thumbUrl"
                                                [class.blur-up]="!fullUrl"
                                                loading="lazy"
                                                alt="Pottery Image"
                                            >
                                        } @else {
                                            <mat-spinner diameter="25"></mat-spinner>
                                        }
                                    </div>
                                } @else {
                                    -
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @if (potteryItem.chronology_label) {
                <div class="flex row wrap justify-between align-stretch gy-4">
                    <div class="w-100 px-2 flex column gy-2">
                        <h3 class="m-0">Chronology</h3>
                    </div>
                    <div class="w-6 flex align-stretch">
                        <div class="card w-100 p-4 flex column justify-center chronology">
                            <div class="badge primary card-title success-icon">
                                <mat-icon>check_small</mat-icon>
                                True Historical Period
                            </div>
                            <div class="flex row nowrap justify-start align-center gap-2">
                                <div class="indicator"
                                     [ngStyle]="{'background-color': getColor(potteryItem.chronology_label.historical_period.name)}"></div>
                                <div
                                    class="display m-0">{{ potteryItem.chronology_label.historical_period.name }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="w-6 flex align-stretch">
                        <div class="card w-100 p-4 flex column justify-center chronology">
                            <div class="badge primary card-title success-icon">
                                <mat-icon>check_small</mat-icon>
                                True Year Range
                            </div>

                            <div
                                class="display m-0">{{ formatYear(potteryItem.chronology_label.start_year) }}
                                – {{ formatYear(potteryItem.chronology_label.end_year) }}
                            </div>
                        </div>
                    </div>
                </div>
            }

            @if (connectedPredictions.total > 0) {
                <div class="flex row wrap justify-between align-stretch gy-4">
                    <div class="w-100 px-2 flex column gy-2">
                        <h3 class="m-0">Connected Predictions</h3>
                    </div>
                    <div class="w-100 flex align-stretch">
                        <div class="card w-100 p-4 flex column justify-center gap-4 predictions table-container">
                            <table
                                mat-table
                                [dataSource]="connectedPredictions.data"
                                matSort
                                matSortDisableClear
                                (matSortChange)="onSortChange($event)"
                                matSortActive="created_at"
                                matSortDirection="desc"
                            >

                                <!-- ID -->
                                <ng-container matColumnDef="id">
                                    <th mat-header-cell
                                        *matHeaderCellDef
                                        mat-sort-header="id">#
                                    </th>
                                    <td mat-cell *matCellDef="let p">{{ p.id }}</td>
                                </ng-container>

                                <!-- Input -->
                                <ng-container matColumnDef="inputImage">
                                    <th mat-header-cell *matHeaderCellDef>Input Image</th>
                                    <td mat-cell *matCellDef="let p">
                                        <div class="image-container">
                                            @if (p.input_image_path) {
                                                @if (connectedPredictions.images.get(p.id)) {
                                                    <img
                                                        [src]="connectedPredictions.images.get(p.id)"
                                                        loading="lazy"
                                                        alt="Pottery Image"
                                                    >
                                                    <!--                            [src]="getApiUrl('images') + '/' + p.input_image_path"-->
                                                } @else {
                                                    <mat-spinner diameter="25"></mat-spinner>
                                                }
                                            }
                                        </div>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="inputText">
                                    <th mat-header-cell *matHeaderCellDef>Input Description</th>
                                    <td mat-cell *matCellDef="let p">
                                        @if (p.input_text) {
                                            {{ shorten(p.input_text) }} ...
                                        } @else {
                                            -
                                        }
                                    </td>
                                </ng-container>

                                <!-- Output Type -->
                                <ng-container matColumnDef="outputType">
                                    <th mat-header-cell *matHeaderCellDef>Output Type</th>
                                    <td mat-cell *matCellDef="let p">
                                        {{ p.historical_period ? 'Historical Period' : 'Exact Years' }}
                                    </td>
                                </ng-container>

                                <!-- Result -->
                                <ng-container matColumnDef="result">
                                    <th mat-header-cell *matHeaderCellDef>Prediction</th>
                                    <td mat-cell *matCellDef="let p">

                                        <div class="flex row nowrap justify-start align-start gap-1 chronology">
                                            <mat-icon class="predicted">auto_awesome</mat-icon>
                                            <span>
                                                @if (p.historical_period) {

                                                    {{ p.historical_period.name }}
                                                } @else if (p.start_year && p.end_year) {
                                                    {{ formatYear(p.start_year) }} – {{ formatYear(p.end_year) }}
                                                }
                                            </span>
                                        </div>

                                    </td>
                                </ng-container>


                                <ng-container matColumnDef="match">
                                    <th mat-header-cell *matHeaderCellDef>Match</th>
                                    <td mat-cell *matCellDef="let p">
                                        <div class="badge" [ngClass]="getMatchClass(p)"
                                             [matTooltip]="matchExplanation(p)" matTooltipPosition="above">
                                            {{ p.match }}
                                        </div>
                                    </td>
                                </ng-container>

                                <!-- Created -->
                                <ng-container matColumnDef="createdAt">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header="created_at">Created</th>
                                    <td mat-cell *matCellDef="let p">
                                        {{ p.created_at | date:'medium' }}
                                    </td>
                                </ng-container>

                                <!-- Actions -->
                                <ng-container matColumnDef="actions">
                                    <th mat-header-cell *matHeaderCellDef></th>
                                    <td mat-cell *matCellDef="let p">
                                        <button mat-icon-button
                                                matTooltip="View Prediction Details" matTooltipPosition="above"
                                                class="btn-sm border">
                                            <mat-icon>arrow_forward</mat-icon>
                                        </button>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="connectedPredictions.columns"></tr>
                                <tr mat-row
                                    *matRowDef="let row; columns: connectedPredictions.columns"
                                    [routerLink]="['/admin/predictions', row.id]"
                                    class="clickable-row"
                                    tabindex="0"
                                ></tr>
                            </table>

                            <mat-paginator
                                [length]="connectedPredictions.total"
                                [pageSize]="connectedPredictions.params.page.limit"
                                [pageSizeOptions]="[25, 50, 75, 100]"
                                (page)="loadConnectedPredictions($event)">
                            </mat-paginator>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>
