.mat-column-inputImage {
    width: 50px;
    min-width: unset;
}

.mat-column-inputText {
    width: 15%;
}

.mat-column-createdAt {
    width: 110px;
}

.mat-column-result,
.mat-column-feedback {
    min-width: 160px;
}

.pending-panel {
    background-color: var(--orange-90);
    .display {
        color: var(--orange-00);
    }
    .pending-count {
        min-width: 120px;
        h6 {
            font-size: 12px;
        }
    }
}
