// GLOBAL VARIABLES

:root {
    // FONTS
    --serif-font: 'DM Serif Display';
    --sans-font: 'Lato';

    // COLORS
    --orange-00: #D6614A;
    --orange-20: #F4694E;
    --orange-90: #F5CFB6;
    --orange-100: #ffd8c3;

    --beige-00: #9D7A67;
    --beige-10: #CB997E;
    --beige-20: #DDBEA9;
    --beige-30: #E2C8B6;
    --beige-50: #D4C3B7;
    --beige-55: #E3D0C3;
    --beige-60: #E1D1C5;
    --beige-70: #E7D8CC;
    --beige-75: #EADBCF;
    --beige-80: #EDDED2;
    --beige-90: #F2E3D7;
    --beige-100: #F3E7DE;

    --olive-00: #2A2E26;
    --olive-20: #3F4739;
    --olive-50: #595A52;

    --black-100: rgba(0, 0, 0, 1);
    --black-50: rgba(0, 0, 0, 0.5);
    --black-30: rgba(0, 0, 0, 0.3);
    --black-20: rgba(0, 0, 0, 0.2);
    --black-15: rgba(0, 0, 0, 0.15);
    --black-10: rgba(0, 0, 0, 0.1);
    --black-05: rgba(0, 0, 0, 0.05);

    --transparent: rgba(0, 0, 0, 0);

    --white: white;

    --success: #799950;
    --danger: #c6564b;
    --warning: #C7A748;

    // SPACING
    --space-0: 0;
    --space-1: 5px;
    --space-2: 10px;
    --space-3: 20px;
    --space-4: 30px;
    --space-5: 40px;
    --space-6: 60px;
    --space-7: 80px;

    // RADIUS
    --radius-xs: 4px;
    --radius-sm: 8px;
    --radius-md: 16px;
    --radius-lg: 24px;
}

:root {
    --text-color-primary: var(--olive-00);
    --text-color-secondary: var(--olive-20);
    --text-color-body: var(--olive-50);
    --text-color-accent: var(--orange-00);
}
