<div class="inner gy-6">
    <div class="px-2">
        <h1>Predictive Models</h1>
        <p>Here you can view and manage the neural network models responsible for producing pottery chronology
            predictions.</p>
    </div>

    <app-models-retrain></app-models-retrain>

    @for (table of modelsTables; track table.task.id) {
        <div class="flex column gap-3">
            <div class="px-2 flex row gap-2 justify-start align-center">
                <h3 class="m-0">{{ capitalize(table.task.name) }} Models</h3>
                @if (taskExplanation(table.task.name)) {
                    <button
                        matIconButton
                        aria-label="help"
                        [matTooltip]="taskExplanation(table.task.name)"
                        matTooltipPosition="after"
                    >
                        <mat-icon>help</mat-icon>
                    </button>
                }
            </div>

            <div class="card flex column gap-4 p-4 models table-container">
                <table
                    mat-table
                    [dataSource]="table.dataSource"
                    matSort
                    matSortDisableClear
                    (matSortChange)="onSortChange(table, $event)"
                    matSortActive="model_id"
                    matSortDirection="asc"
                >
                    <!-- Model -->
                    <ng-container matColumnDef="model">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header="model_id">Model</th>
                        <td mat-cell *matCellDef="let m">
                            {{ m.model.name }}
                        </td>
                    </ng-container>

                    <!-- Version -->
                    <ng-container matColumnDef="version">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header="version">Version</th>
                        <td mat-cell *matCellDef="let m">
                            {{ m.version }}
                        </td>
                    </ng-container>

                    <!-- Input Type -->
                    <ng-container matColumnDef="inputType">
                        <th mat-header-cell *matHeaderCellDef>Input Type</th>
                        <td mat-cell *matCellDef="let m">
                            @for (ft of m.model.feature_sets; track ft.id; let idx = $index) {
                                {{ capitalize(ft.data_type) }}
                                @if (idx < m.model.feature_sets.length - 1) {
                                    &
                                }
                            }
                        </td>
                    </ng-container>

                    <!-- Output Type -->
                    <ng-container matColumnDef="outputType">
                        <th mat-header-cell *matHeaderCellDef>Output Type</th>
                        <td mat-cell *matCellDef="let m">
                            @for (t of m.model.targets; track t.id; let idx = $index) {
                                {{ capitalize(t.name) }}
                                @if (idx < m.model.targets.length - 1) {
                                    &
                                }
                            }
                        </td>
                    </ng-container>

                    <!-- Score -->
                    <ng-container matColumnDef="score">
                        <th mat-header-cell *matHeaderCellDef
                            [mat-sort-header]="scoreColumn(table.task.name)">{{ scoreColumnLabel(table.task.name) }}
                        </th>
                        <td mat-cell *matCellDef="let m">
                            @switch (table.task.name.toLowerCase()) {
                                @case ("classification") {
                                    <div
                                        class="badge"
                                        [ngStyle]="{
                                            backgroundColor: getScoreColor(m.val_accuracy, 'accuracy'),
                                            color: 'white'
                                        }"
                                    >
                                        {{ m.val_accuracy | percent:'1.0-2' }}
                                    </div>
                                }
                                @case ("regression") {
                                    <div
                                        class="badge"
                                        [ngStyle]="{
                                            backgroundColor: getScoreColor(m.val_mae, 'mae', table.maxMae),
                                            color: 'white'
                                        }"
                                    >
                                        ±{{ m.val_mae | number: '1.0-0' }} years
                                    </div>
                                }
                                @default {
                                }
                            }
                        </td>
                    </ng-container>

                    <!-- Last Trained -->
                    <ng-container matColumnDef="lastTrained">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header="created_at">Last Trained</th>
                        <td mat-cell *matCellDef="let m">
                            {{ m.created_at | date:'medium' }}
                        </td>
                    </ng-container>

                    <!-- Actions -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let m">
                            <button mat-icon-button matTooltip="View Model Details" matTooltipPosition="above" class="btn-sm border">
                                <mat-icon>arrow_forward</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row
                        *matRowDef="let row; columns: displayedColumns"
                        [routerLink]="['/admin/models', row.model.id]"
                        class="clickable-row"
                        tabindex="0"
                    ></tr>
                </table>

                <mat-paginator
                    [length]="table.total"
                    [pageSize]="table.params.page.limit"
                    [pageSizeOptions]="[25]"
                    (page)="loadPage(table, $event)">
                </mat-paginator>
            </div>

        </div>
    }


</div>
