/*.chronology-toggle {
    border-radius: 999px;
    background: #efe4db;
    padding: 4px;

    mat-button-toggle {
        border-radius: 999px !important;
        text-transform: uppercase !important;
        letter-spacing: 0.5px;
        border: none;
    }

    .mat-button-toggle-checked {
        background-color: var(--orange-00);
        color: #fff !important;
    }
}*/



.predict-btn {
    width: 100%;
    max-width: 320px;
}
