// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use "./styles/_theme-colors" as colors;
@use './styles/_typography' as typo;
@use './styles/_tokens';
@use "./styles/_utils";

html {
    height: 100%;
    @include mat.theme((
        color: (
            //primary: mat.$azure-palette,
            //tertiary: mat.$blue-palette,
            primary: colors.$primary-palette,
            secondary: colors.$secondary-palette,
            tertiary: colors.$tertiary-palette,
            error: colors.$error-palette,
            neutral: colors.$neutral-palette,
            neutral-variant: colors.$neutral-variant-palette,
        ),
        typography: typo.$typography,
        density: 0,
    ));

    @include mat.icon-button-overrides((
        icon-color: var(--mat-sys-primary),
        state-layer-color: var(--mat-sys-primary),
        ripple-color: color-mix(in srgb, var(--mat-sys-primary) 12%, transparent),
    ));

    /* Shape / corner overrides */
    --mat-sys-corner-small: 4px;
    --mat-sys-corner-medium: 8px;
    --mat-sys-corner-large: 16px;
    --mat-sys-corner-full: 16px;

    --mat-sys-outline: var(--black-15);
    --mat-expansion-container-background-color: transparent;
    --mat-expansion-header-hover-state-layer-color: transparent;
    --mat-expansion-container-elevation-shadow: none;

    --mat-sys-on-background: var(--text-color-body);
}

body {
    // Default the application to a light color theme. This can be changed to
    // `dark` to enable the dark color theme, or to `light dark` to defer to the
    // user's system settings.
    color-scheme: light;

    // Set a default background, font and text colors for the application using
    // Angular Material's system-level CSS variables. Learn more about these
    // variables at https://material.angular.dev/guide/system-variables
    background-color: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
    font: var(--mat-sys-body-medium);

    // Reset the user agent margin.
    margin: 0;
    height: 100%;
}

/* You can add global styles to this file, and also import other style files */


// LAYOUT

:root {
    --w-sidebar: 235px;
    --w-content: 1000px;
}

.window {
    width: 100%;
    height: 100%;
}

.window-inner {
    padding: 0 30px;
    gap: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.window-inner-inner {
    width: 100%;
    max-width: var(--w-content);
    gap: 30px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: start;
    position: relative;
    padding-left: calc(var(--w-sidebar) + 30px);
}

.admin-layout.mat-drawer-container {
    background-color: transparent;
    width: 100%;
    height: 100%;
    //max-width: calc(var(--w-sidebar) + var(--w-content) + 90px);
    //margin: 0 auto;
    padding: 0 0 0 30px;
    --mat-sidenav-container-width: var(--w-sidebar);
}

.mat-sidenav-content {
    padding: 0 30px;
    //left: max(var(--w-sidebar), calc((100vw - var(--w-sidebar) - var(--w-content) - 90px) / 2 + var(--w-sidebar))) !important;
    //margin: 0 !important;
}

.mat-drawer.mat-sidenav {
    background-color: transparent;
    padding: 30px 0;
    left: max(30px, calc((100vw - var(--w-sidebar) - var(--w-content) - 30px) / 2));
}

.content {
    width: 100%;
    max-width: var(--w-content);
    padding: 30px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: var(--space-3);
}

.content {
    .inner {
        display: flex;
        flex-direction: column;
        gap: var(--space-5);
    }
}

@media only screen and (max-width: 767px) {
    .content {
        padding: 20px 0;
    }

    .admin-layout.mat-drawer-container {
        padding: 0;
    }

    .mat-sidenav-content {
        padding: 0 20px;
        left: 0 !important;
        margin: 0 !important;
    }

    .mat-drawer.mat-sidenav {
        background-color: var(--beige-80);
        padding: 0;
        left: 0;
    }
}

.sidebar-wrapper {
    width: var(--w-sidebar);
    position: fixed;
    top: 0;
    left: max(30px, calc((100vw - var(--w-sidebar) - var(--w-content) - 30px) / 2));
}


.card {
    border-radius: var(--radius-md);
    background-color: var(--beige-100);
    position: relative;

    &.chronology {
        min-height: 80px;

        &.prediction {
            border: 1.5px solid color-mix(in oklab, var(--orange-00) 100%, transparent);
            box-shadow: 0 10px 25px -10px color-mix(in oklab, var(--orange-00) 50%, transparent);
        }
    }
}

.floating {
    padding: 0 10px;
}

.table-container {
    overflow-x: auto;
}

// BASICS

::-moz-selection,
::selection {
    color: var(--text-color-primary);
    background: var(--orange-90);;
}

body {
    background-color: var(--beige-70);
    font-family: var(--sans-font), sans-serif;
    color: var(--text-color-body);
    font-size: 15px;
    font-weight: 400;
}

h1, h2, h3, .display {
    font-family: var(--serif-font), serif;
    color: var(--text-color-primary);
    font-weight: 600;
    margin: 0 0 10px;
}

h4, h5, h6 {
    font-family: var(--sans-font), serif;
    color: var(--text-color-primary);
    font-weight: 600;
    margin: 0 0 10px;
}

.display {
    font-size: 40px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 17px;
}

h6 {
    font-size: 14px;
    text-transform: uppercase;
}

p {
    font-size: 15px;
    margin: 0 0 10px;
}

p:last-child {
    margin-bottom: 0;
}

strong {
    color: var(--text-color-secondary);
}

img {
    max-width: 100%;
}

// ICONS

mat-icon {
    font-family: 'Material Symbols Outlined', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
}


// BUTTONS

.mdc-button.mat-mdc-button,
.mdc-button.mat-mdc-button .mdc-button__ripple,
.mdc-button.mat-mdc-unelevated-button,
.mdc-button.mat-mdc-unelevated-button .mdc-button__ripple {
    border-radius: var(--radius-sm);
    height: 46px;
}

/*.mdc-button[matbutton="filled"].mat-mdc-unelevated-button:not(:disabled),
.mdc-button[mat-flat-button=""].mat-mdc-unelevated-button:not(:disabled) {
    background-color: var(--orange-00);
}*/

.mdc-button[matbutton="filled"].mat-mdc-unelevated-button,
.mdc-button[mat-flat-button=""].mat-mdc-unelevated-button {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 14px !important;
}

.mdc-button.border,
.mdc-icon-button.border {
    border-width: 1px;
    border-style: solid;
    border-color: var(--mat-button-text-label-text-color, var(--mat-sys-primary));;
}

.mdc-button.bold {
    --mat-button-text-label-text-weight: 600 !important;
}

.mat-mdc-button-base.danger {
    --mat-button-text-label-text-color: var(--danger);
}

.mdc-icon-button.danger .mat-icon {
    color: var(--danger);
}

.mat-mdc-button-base.danger.border {
    border-width: 1.5px;
}

.mdc-button[matbutton="filled"].danger {
    --mat-button-filled-container-color: var(--danger);
    color: white;
}

.mdc-icon-button {
    --mat-icon-button-container-shape: var(--radius-sm);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
}

.mat-mdc-button-base.btn-sm {
    --btn-sm-size: 32px;
    --icon-size: 17px;
    height: var(--btn-sm-size) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 14px;

    .mdc-button__ripple {
        height: var(--btn-sm-size) !important;
    }

    .mat-mdc-button-touch-target {
        width: var(--btn-sm-size) !important;
        height: var(--btn-sm-size) !important;
    }

    .mat-icon {
        width: var(--icon-size);
        height: var(--icon-size);
        font-size: var(--icon-size);
        margin: 0 !important;
    }

    &.mdc-icon-button {
        padding: 0 !important;
        width: var(--btn-sm-size);
    }

    &.border:not(.mdc-icon-button) {
        padding: 0 10px !important;
    }
}

.mat-mdc-button-base.btn-link {
    padding: 0 !important;
    background-color: transparent !important;
    --mat-button-text-label-text-color: var(--text-color-secondary);

    &:hover {
        --mat-button-text-label-text-color: var(--text-color-accent);
    }
}

// FORM
.mat-mdc-form-field {
    width: 100%;
}

body {
    --mat-form-field-outlined-container-shape: var(--radius-sm);
    --mat-form-field-container-text-font: var(--sans-font);
    --mat-form-field-outlined-label-text-font: var(--sans-font);
    --mat-form-field-outlined-label-text-color: var(--text-color-secondary);
    --mat-form-field-outlined-label-text-weight: 500;

}

// SNACKBAR ALERTS
.alert-success {
    --mdc-snackbar-container-color: #2e7d32;
    --mdc-snackbar-supporting-text-color: #fff;
}

.alert-error {
    --mdc-snackbar-container-color: #c62828;
    --mdc-snackbar-supporting-text-color: #fff;
}

.alert-info {
    --mdc-snackbar-container-color: #1565c0;
    --mdc-snackbar-supporting-text-color: #fff;
}


// RESPONSIVENESS

@media only screen and (min-width: 767px) {
    .hide-desktop {
        display: none;
    }
}


@media only screen and (max-width: 767px) {
    .hide-mobile {
        display: none;
    }
}

// TABLE
.mat-mdc-table,
.mat-mdc-paginator {
    background-color: transparent !important;
}

.mdc-data-table__cell,
.mdc-data-table__header-cell {
    padding: 5px 10px !important;
}

.mdc-data-table__cell:not(.mat-column-actions, .mat-column-id) {
    min-width: 90px;
}

.clickable-row {
    cursor: pointer;
    transition: 0.3s ease;
    overflow: hidden;

    &:hover {
        background-color: var(--beige-80);
    }

    &:focus {
        background-color: var(--orange-100);
    }
}

table {
    th {
        font-size: 14px;
        font-weight: 600 !important;
        color: var(--text-color-secondary);
    }

    td {
        font-size: 13px;
        font-weight: 400;
        color: var(--text-color-body);
    }

    &.vertical {
        th, td {
            text-align: left;
            padding: 5px;
            height: 30px;
            font-size: 15px;
        }

        tr:not(:last-child) {
            th, td {
                border-bottom: 1px solid var(--black-15);
            }
        }

        th {
            font-weight: 400 !important;
            color: var(--text-color-body);
        }

        td {
            font-weight: 500;
            color: var(--text-color-primary);
        }
    }
}

:root {
    --mat-sort-arrow-color: var(--orange-00)
}

// EXPANSION PANEL

.mat-expansion-panel-header {
    padding: var(--space-1) var(--space-4) !important;
}

.mat-expansion-panel-body {
    padding: 0 var(--space-4) var(--space-4) !important;
}

// BADGE
.badge {
    padding: 3px 8px;
    border-radius: var(--radius-xs);
    text-transform: capitalize;
    width: fit-content;
    font-weight: 600;
    font-size: 12px;

    display: flex;
    justify-content: start;
    align-items: start;
    gap: var(--space-1);

    &.primary {
        background-color: var(--beige-30);
        color: var(--text-color-secondary);
    }

    &.accent {
        background-color: var(--orange-00);
        color: var(--white);
    }

    &.success {
        background-color: var(--success);
        color: white;
    }

    &.danger {
        background-color: var(--danger);
        color: white;
    }

    &.warning {
        background-color: var(--warning);
        color: white;
    }

    &.disabled {
        background-color: var(--black-10);
        color: var(--black-30);
    }

    &.card-title {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: var(--radius-sm) 0 var(--radius-sm) 0;
        padding: 3px 10px;
    }

    &.large {
        font-size: 16px;
        padding: 8px 14px;
        border-radius: var(--radius-sm);
    }

    .mat-icon {
        width: 1rem;
        height: 1rem;
        font-size: 1rem;
        line-height: 1rem;
    }

    &.success-icon {
        .mat-icon {
            color: var(--beige-30);
            background-color: var(--success);
            border-radius: 100%;
        }
    }
}

// MAT BADGE - NOTIFICATION INDICATOR
body {
    --mat-badge-background-color: var(--orange-00);
    --mat-badge-text-color: white;
    --mat-badge-text-font: var(--sans-font);
    --mat-badge-text-weight: 500;


}


// ICON BUTTON
.mdc-icon-button .mat-icon {
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: var(--text-color-accent);
}


// INDICATOR

.indicator {
    width: 20px;
    aspect-ratio: 1;
    border-radius: 100%;

    &.sm {
        width: 15px;
    }

    &.xs {
        width: 12px;
        margin-top: 4px;
    }
}

// IMAGE CONTAINERS

table .image-container {
    width: 50px;
    aspect-ratio: 1;
    border-radius: var(--radius-sm);
    overflow: hidden;
    background-color: var(--black-05);
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.data-card {
    width: 100%;

    .image-container {
        border-radius: var(--radius-md);
        overflow: hidden;
        background-color: var(--black-05);
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 60px;

        img {
            width: 100%;
            border-radius: 0;
            transition: filter 0.3s ease;

            &.blur-up {
                filter: blur(10px);
            }
        }
    }
}


// Slider
html {
    --mat-slider-label-label-text-size: 9px;
    --mat-slider-label-label-text-line-height: 1em;
}

// Image Input Field

.image-upload {
    border: 2px dashed var(--black-20);
    border-radius: 8px;
    height: 180px;
    padding: 10px;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;

    //color: #6b6b6b;
    text-align: center;

    transition: background-color 0.2s, border-color 0.2s;

    &:hover {
        background-color: var(--beige-90);
        border-color: var(--orange-00);
    }

    &.has-image {
        background-color: var(--beige-90);
    }

    &.readonly {
        cursor: default;
        background-color: transparent !important;
        border: 1px solid var(--black-15);

        .label {
            font-size: 0.75rem;
        }
    }

    .upload-icon {
        color: var(--beige-10);
    }

    img {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        border-radius: var(--radius-sm);
        transition: filter 0.3s ease;

        &.blur-up {
            filter: blur(10px);
        }
    }

    .remove-btn {
        position: absolute;
        top: 8px;
        right: 8px;
        padding: 0;
        width: 34px;
        height: 34px;
        background-color: var(--beige-100);

        .mat-icon {
            width: 20px;
            height: 20px;
            font-size: 18px;
        }
    }

    .label {
        color: var(--text-color-secondary);
        font-size: 13px;
        font-weight: 500;
        letter-spacing: var(--mat-form-field-outlined-label-text-tracking, var(--mat-sys-body-large-tracking));
        background-color: var(--beige-100);
        padding: 0 5px;
        display: block;
        position: absolute;
        top: -10px;
        left: 10px;
    }
}


// MAT TOGGLE BUTTON
.mat-button-toggle-group-appearance-standard {
    border-radius: var(--radius-sm) !important;
}

// TABLE CHRONOLOGY ICON
.chronology {
    .mat-icon {
        --chronology-icon-size: 18px;
        width: var(--chronology-icon-size);
        font-size: var(--chronology-icon-size);
        height: 20px;
        line-height: 20px;

        &.predicted {
            color: var(--orange-00);
        }

        &.true-verified {
            color: var(--success);
        }

        &.true-pending {
            color: var(--black-30);
        }
    }
}

// MESSAGE
.message {
    display: flex;
    justify-content: start;
    align-items: start;
    //border-width: 1.5px;
    //border-style: solid;
    padding: 10px;
    border-radius: var(--radius-sm);
    gap: 10px;
    font-weight: 500;
    font-size: 15px;

    .mat-icon {
        --icon-size: 22px;
        width: var(--icon-size);
        min-width: var(--icon-size);
        height: var(--icon-size);
        font-size: var(--icon-size);
        line-height: var(--icon-size);
    }

    &.success {
        background-color: color-mix(in oklab, var(--success) 25%, white);
        color: color-mix(in oklab, var(--success) 75%, black);

    }

    &.warning {
        background-color: color-mix(in oklab, var(--warning) 25%, white);
        color: color-mix(in oklab, var(--warning) 75%, black);

    }
}

// MAT DIALOG

.mat-mdc-dialog-container {
    .mat-mdc-dialog-title,
    .mat-mdc-dialog-content,
    .mat-mdc-dialog-actions {
        padding: 20px 30px !important;
    }
}

