.retrain-panel {
    &.eligible {
        background-color: var(--orange-90);
        .display {
            color: var(--orange-00);
        }
    }

    &.disabled {
        background-color: var(--beige-60);
    }

}

.new-item-count {
    min-width: 80px;
    .display {
        line-height: 1em;
    }

    h6 {
        font-size: 12px;
    }
}

.highlight {
    color: var(--orange-00);
}
